<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style/style.css">
        <link rel="shortcut icon" href="../static/favicon/favicon.ico" type="image/x-icon">
        <title>Fireworks Animation</title>
    </head>
    <body>
        <div class="fireworks"></div>

        <!-- jsDelivr  -->
        <script src="https://cdn.jsdelivr.net/npm/fireworks-js@latest/dist/fireworks.js"></script>
        <!-- Usage -->
        <script src="../static/script/script.js"></script>
    </body>
</html>